# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.vscode/

# Dataset
data/

# Model checkpoints
saved_models/

# Archive files
*.zip

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db